#testimonials
  text-align: center
  padding-bottom: 150px

  .active-slide
    display: block !important

  .slide
    list-style: none
    display: none

    .author
      margin: 30px 0 40px
      color: #a0a0a0

  .fa-circle
    color: #d3d3d3
    width: 15px

  .active-ind
    color: $accent
