body {
  margin: 0;
  padding: 0 25px 25px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #848282; }
  body h1 {
    font-size: 33px;
    font-family: "Dancing Script", cursive;
    margin-bottom: 0; }
  body h2 {
    font-size: 48px;
    font-family: "Playfair Display", serif;
    margin-bottom: 0; }
  body h3 {
    font-size: 25px;
    font-family: "Dancing Script", cursive;
    margin-top: 0; }
  body hr {
    width: 80px;
    height: 3px;
    background-color: #d07c7c;
    border: none;
    margin: 30px auto 40px; }
  body a {
    color: #696969;
    text-decoration: none; }
  body .title {
    color: #5a5957;
    font-family: "Playfair Display", serif; }
  body .btn {
    margin-top: 80px;
    padding: 10px 40px;
    background-color: #d07c7c;
    border: 1px solid #d07c7c;
    color: #fff;
    transition: 0.5s ease;
    cursor: pointer; }
    body .btn:hover {
      background-color: #fff;
      color: #d07c7c;
      border-color: #d07c7c; }
  body .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.5s ease; }
@media(max-width: 900px) {
  body .overlay {
    opacity: 1; } }
    body .overlay:hover {
      opacity: 1; }
    body .overlay .overlay-box {
      display: inline-block;
      width: 185px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); }
      body .overlay .overlay-box h4 {
        margin-bottom: 0;
        color: #fff;
        font-style: oblique;
        font-size: 18px;
        font-family: "Playfair Display", serif; }
        body .overlay .overlay-box h4:before {
          width: 30px;
          height: 20px;
          border-left: 2px solid #fff;
          border-top: 2px solid #fff;
          position: absolute;
          left: 0;
          top: 0;
          content: ""; }
        body .overlay .overlay-box h4:after {
          width: 30px;
          height: 20px;
          border-right: 2px solid #fff;
          border-top: 2px solid #fff;
          position: absolute;
          right: 0;
          top: 0;
          content: ""; }
      body .overlay .overlay-box p {
        color: #fff;
        margin: 0 20px 20px; }
        body .overlay .overlay-box p:before {
          width: 30px;
          height: 20px;
          border-right: 2px solid #fff;
          border-bottom: 2px solid #fff;
          position: absolute;
          right: 0;
          bottom: 0;
          content: ""; }
        body .overlay .overlay-box p:after {
          width: 30px;
          height: 20px;
          border-left: 2px solid #fff;
          border-bottom: 2px solid #fff;
          position: absolute;
          left: 0;
          bottom: 0;
          content: ""; }
      body .overlay .overlay-box hr {
        height: 1px;
        display: block;
        background-color: #fff;
        width: 140px;
        margin: 5px auto; }

header {
  width: 100%;
  height: 640px;
  background-image: url("../img/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  position: relative; }
  header .hero-title {
    transform: translateY(50%);
    text-align: center; }
  header p {
    font-size: 16px;
    font-weight: 400;
    margin: 0; }
  header hr {
    background-color: #fff;
    margin: 30px;
    display: inline-block; }
  header i {
    position: absolute;
    bottom: 70px;
    height: 15px; }

nav {
  height: 55px;
  color: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  font-family: "Dancing Script", cursive;
  font-size: 22px;
  line-height: 2.4; }
  nav .navlinks a {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    transition: 0.5s ease;
    margin-right: 60px;
    margin-bottom: -55px; }
    nav .navlinks a:last-child {
      margin-right: 0; }
    nav .navlinks a:hover {
      border-bottom: 1px solid #d07c7c;
      color: #000; }

.nav-fixed {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 88.86%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  z-index: 1; }

.fadeInDown {
  -webkit-animation-duration: 0.5s !important;
  -moz-animation-duration: 0.5s !important;
  -o-animation-duration: 0.5s !important;
  -ms-animation-duration: 0.5s !important;
  animation-duration: 0.5s !important; }

#about {
  padding: 150px 0;
  text-align: center; }
  #about .blurb {
    max-width: 760px;
    display: block;
    margin: 0 auto;
    line-height: 2; }

#work {
  text-align: center;
  padding-bottom: 150px; }
  #work .columns {
    display: flex; }
@media(max-width: 900px) {
  #work .columns {
    flex-direction: column; } }
    #work .columns .col-lg .row {
      display: flex; }
@media(max-width: 500px) {
  #work .columns .col-lg .row {
    flex-direction: column; } }
    #work .columns .col-sm #urban {
      display: inline-block; }
@media(max-width: 900px) {
  #work .columns .col-sm #urban {
    display: block; } }
    #work .columns .img-box {
      margin: 12.5px;
      position: relative; }
      #work .columns .img-box img {
        width: 100%; }

#testimonials {
  text-align: center;
  padding-bottom: 150px; }
  #testimonials .active-slide {
    display: block !important; }
  #testimonials .slide {
    list-style: none;
    display: none; }
    #testimonials .slide .author {
      margin: 30px 0 40px;
      color: #a0a0a0; }
  #testimonials .fa-circle {
    color: #d3d3d3;
    width: 15px; }
  #testimonials .active-ind {
    color: #d07c7c; }

#video #video-thumb {
  position: relative;
  text-align: center; }
  #video #video-thumb img {
    width: 100%;
    height: 500px; }
  #video #video-thumb .overlay-video-box {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #video #video-thumb .overlay-video-box:hover {
      cursor: pointer; }
    #video #video-thumb .overlay-video-box .top-right-corner {
      width: 33px;
      height: 33px;
      position: absolute;
      top: 0;
      right: 0;
      border-top: 1px solid black;
      border-right: 1px solid black; }
    #video #video-thumb .overlay-video-box .top-left-corner {
      width: 33px;
      height: 33px;
      position: absolute;
      top: 0;
      left: 0;
      border-top: 1px solid black;
      border-left: 1px solid black; }
    #video #video-thumb .overlay-video-box .bottom-right-corner {
      width: 33px;
      height: 33px;
      position: absolute;
      bottom: 0;
      right: 0;
      border-bottom: 1px solid black;
      border-right: 1px solid black; }
    #video #video-thumb .overlay-video-box .bottom-left-corner {
      width: 33px;
      height: 33px;
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid black;
      border-left: 1px solid black; }
    #video #video-thumb .overlay-video-box #top {
      width: 30px;
      height: 2px;
      background: #000;
      position: absolute;
      top: 43%;
      left: 40%;
      transform: rotate(30deg); }
    #video #video-thumb .overlay-video-box #bottom {
      width: 30px;
      height: 2px;
      background: #000;
      position: absolute;
      top: 57%;
      left: 40%;
      transform: rotate(-30deg); }
    #video #video-thumb .overlay-video-box #outside-top {
      width: 200px;
      height: 1px;
      background: #000;
      position: absolute;
      top: -60%;
      left: -200%;
      transform: rotate(30deg); }
    #video #video-thumb .overlay-video-box #outside-bottom {
      width: 200px;
      height: 1px;
      background: #000;
      position: absolute;
      top: 160%;
      left: 100%;
      transform: rotate(30deg); }
  #video #video-thumb p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%); }
#video #video-player {
  display: none; }

#follow {
  padding: 150px 0;
  text-align: center; }
  #follow .border {
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: 0.5s ease; }
    #follow .border:last-of-type {
      margin-right: 0; }
    #follow .border a {
      color: #696969;
      text-decoration: none;
      display: inline-block;
      margin-right: 50px; }
      #follow .border a:last-of-type {
        margin-right: 0; }
      #follow .border a .fa {
        font-size: 25px;
        color: #848282;
        width: 55px;
        border-radius: 50%;
        padding-top: 15px;
        padding-bottom: 15px;
        transition: 0.5s ease; }
        #follow .border a .fa:hover {
          color: #fff;
          background-color: #d07c7c; }

#contact {
  text-align: center;
  padding: 80px 0 130px;
  background-image: url("../img/contact-background.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  #contact form {
    margin: 55px auto 35px;
    max-width: 590px; }
    #contact form input, #contact form textarea {
      display: block;
      width: 100%;
      margin: 20px 0;
      padding: 15px 30px;
      box-sizing: border-box;
      font-family: "Raleway", sans-serif;
      border: 1px solid #d07c7c; }
    #contact form textarea {
      width: 99.7%;
      height: 140px; }
    #contact form span {
      display: flex;
      justify-content: space-between;
      margin-top: 40px; }
      #contact form span p {
        display: inline;
        margin-left: 30px; }
      #contact form span .btn {
        margin-top: 0; }

footer {
  text-align: center;
  padding: 30px 0 5px; }
  footer h1 {
    font-size: 21px; }
  footer h3 {
    font-size: 15px; }
  footer .blurb {
    margin: 0;
    font-size: 12px; }

/*# sourceMappingURL=main.css.map */
